@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@using Blog.Services.Interfaces

@model X.PagedList.IPagedList<BlogPost>

@inject IImageService _ImageService

@{
  ViewData["Title"] = "Home Page";
}

<!-- Start Author Area  -->
<div class="axil-author-area axil-author-banner bg-color-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-author">
                    <div class="media">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/img/dmface_576.jpg" alt="Author Images">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="author-info">
                                <h1 class="title"><a href="#">Daniel Monastirsky</a></h1>
                                <span class="b3 subtitle">Software Developer</span>
                            </div>
                            <div class="content">
                                <p class="b1 description">
                                    I'm Daniel Monastirsky, a 23 year old coder doing my best to adapt to the new software languages we are presented with.
                                    I was a Motorsports Engineer for over six years and thoroughly enjoyed the work but travelling cross country every few weeks and living out of hotels can be tiresome.
                                    <br /><br />Being young in the software field can be great because you can learn a variety of new languages that have been introduced in the past few decades without having to completely overwrite previous thinking.
                                    Let me know what you think of my blog and leave some likes on what you enjoyed reading the most!
                                </p>
                                <ul class="social-share-transparent size-md">
                                    <li><a href="https://www.instagram.com/donmonfon/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.github.com/danvitmon" target="_blank"><i class="fab fa-github"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/daniel-monastirsky-1625ba173" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Author Area  -->

<div class="axil-post-list-area axil-section-gap bg-color-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-title">
          <h2 class="title mb--40">Articles By This Author</h2>
        </div>
      </div>
      <div class="col-lg-8 col-xl-8">
        @foreach (var blogPost in Model)
        {
          <partial name="_BlogCard" model="@blogPost"/>
        }

        <div>
          <div>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
          </div>

          @Html.PagedListPager(Model, pageNum => Url.Action("Index", new { pageNum }),
            new PagedListRenderOptions
            {
              LiElementClasses = new[] { "my-page-item" },
              PageClasses = new[] { "my-page-link" }
            }
            )

        </div>

      </div>
      <partial name="_SideBar"/>
    </div>
  </div>
</div>

<!-- End Post List Wrapper  -->